
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair&family=Kaisei+Opti&display=swap");

.cart-box {
  background-color :cornflowerblue;
  min-height: 100vh;
  position: relative;
  padding-top: 11em;
}

.cart-title {
  font-family: "Marcellus", serif;
  font-size: 2.5em;
  font-weight: 100;
}
