@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

.footer {
  font-family: "Marcellus", serif;
  font-size: 0.8em;
  color: rgb(80, 80, 80);
  padding: 1em;
  background-color: #f2f2f2;
}
